body
{
    background-color: whitesmoke;
    font-family: "Georgia", Times, serif;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
h1{
  color: #014520;
  text-decoration: underline #014520;
}

a{
  color: #014520;
}

h2{
  color: #015720;
}

h3{
  color: #016920;
}

h4{
  color: #017b20;
}

h5{
  color: #018d20;
}

button{
  background-color: #014520;
}

.formbox{
  margin: auto;
  background-color: lightgrey;
  border-style: solid;
  border-color: #303944;
  border-width: 5px;
  max-width: 700px;
  padding: 50px;
}

.formbox2{
  margin: auto;
  background-color: lightgrey;
  border-style: solid;
  border-color: #303944;
  border-width: 5px;
  max-width: 500px;
  padding: 50px;
}

.align{
  text-align: left;
}

.darkgreen{
  color: #014520;
}

#welcome{
  font-size: 60pt;
}
