{% extends "layout.html" %}

{% block title %}
    Catalogue
{% endblock %}

{% block main %}
    <h1>Catalogue</h1>
    <p>
        Browse our products by store!
    </p>
    <form action="/catalogue" method="POST">
        <div class="form-group">
          <select name="store" onchange="this.form.submit()">
            <option value="" hidden>--</option>
            {% for store in stores %}
              <option value="{{store}}">{{store}}</option>
            {% endfor %}
          </select>
        </div>
    </form>
    <br><br>
    <h3>{{ store }}</h3>
    <table class = "table table-striped">
    {% if prod %}
      <p1> Click on an item to order it</p1>
      <tr>
        <th class = "align">Product</th>
        <th class = "align">Price</th>
      </tr>
    {% endif %}
    {% for i in range(names|length) %}
        <tr>
          <td class = "align"><a href={{ product_ids[i] }}>{{names[i]}}</a></td>
          <td class = "align">{{prices[i]}}</td>
    {% endfor %}
    </table>
{% endblock %}
