{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}


{% block main %}
{% if rows > 0 %}
      <table class="table table-striped">
          <thead>
              <tr>
                  <b><th>Type</th></b>
                  <th>Amount</th>
                  <th>Store</th>
                  <th>Product</th>
                  <th>Time</th>
              </tr>
          </thead>
          <tbody>
              {% for row in rows %}
                  <tr>
                      <td>{{row[0]}}</td>    <!-- this part is (no longer?) incorrect -->
                      <td>{{row[1]}}</td>
                      <td>{{row[2]}}</td>
                      <td>{{row[3]}}</td>
                      <td>{{row[4]}}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  {% else %}
      <h3>No transaction history yet</h3>
      <h4><a href = '/order'>Let's get some orders in!</a></h4>
  {% endif %}
{% endblock %}
