{% extends "layout.html" %}

{% block title %}
    Order
{% endblock %}

<script>
  datePickerId.max = new Date().toISOString().split("T")[0];
</script>


{% block main %}
    {% if nOrd %}
      <div class ="formbox">
        <h1 class = "darkgreen">{{ item[1] }}</h1>
        <h3> Price: ${{ item[2] }}</h3><br><br>
        <div class="form-group">
          <form action = {{ url }} method="POST">
            <label for="quantity">How many do you want?</label><br>
            <input autocomplete="off" autofocus class="form-control" name="quantity" id ="quantity" placeholder="Quantity" type="number" min = "1" onchange="myfunction(this.value, {{ item[2] }})">
            <script>
              function myfunction(val, p) {
                var price = p;
                var quantity = val;
                var tot = (price * quantity).toFixed(2);
                document.getElementById("total").innerHTML="Total: $" + tot;
              }
            </script>
            <br><br>
            <label for="wtp">How much are you willing to pay to get this delivered to your door?</label><br>
            <input autocomplete="off" autofocus class="form-control" name="wtp" id ="wtp" placeholder="Amount ($)" type="number" min = "0" step = '0.5'><br><br>
            <label for="datefield">When should this order automatically expire?</label><br>
            <input autocomplete="off" autofocus class="form-control" name="datefield" id ="datefield" placeholder="Time" type="date" min="{{date}}"><br><br>
            <h4 id="total">Total: ${{ item[2] }}</h4><br><br>
            <button class="btn btn-primary" type="submit">Place Order</button>
          </form>
        </div>
      </div>
    {% else %}
      <p1> {{ item }} </p1>
    {% endif %}
{% endblock %}
