{% extends "layout.html" %}

{% block title %}
    Payment
{% endblock %}

{% block main %}
    <h2>Your orders are right around the corner!</h2><br>
    <h4>Ready to add {{ dollars}}  to your Munus account. Click "Pay with Card" to continue:</h4><br>
    <div>
      <form action="/charge" method="POST">
        <script
          src = "https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key = "{{ pub_key }}"
          data-amount = "{{ amount }}"
          data-name = "Munus Checkout"
          data-image = "https://cdn1.imggmi.com/uploads/2019/12/8/3476372dd2d67c0e751adf25d6a1627f-full.png"
          data-description = "Add money to your account"
          data-locale = "auto">
        </script>
      </form>
      <br><p>Powered by Stripe<p>
    </div>
{% endblock %}
