{% extends "layout.html" %}

{% block title %}
    Pickup
{% endblock %}

<script>
  function gotosite(){
    window.location.replace(document.getElementById("filter").value);

  }
</script>



{% block main %}
  <h2>Pickup</h2><br>
  {% if infoList|length > 0 %}
  <h4>Current Orders</h4>
  <br>


  <p1>Yard: </p1>
  <form name = "filter" style="display:inline-block;">
    <select name = "menu" onchange = "window.document.location.href=this.options[this.selectedIndex].value;" value="GO">
      <option value = "" hidden>None</option>
      <option value = "/pickup?filter=Ivy">Ivy</option>
      <option value = "/pickup?filter=Crimson">Crimson</option>
      <option value = "/pickup?filter=Elm">Elm</option>
      <option value = "/pickup?filter=Oak">Oak</option>
    </select>
  </form>
  <p1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Store: </p1>
  <form name = "filter" style = "display:inline-block">
    <select name = "menu" onchange = "window.document.location.href=this.options[this.selectedIndex].value;" value="GO">
      <option value = "" hidden>None</option>
      <option value = "/pickup?filter=CVS">CVS</option>
      <option value = "/pickup?filter=crimsoncorner">Crimson Corner</option>
      <option value = "/pickup?filter=animezakka">Anime Zakka</option>
      <option value = "/pickup?filter=&pizza">&pizza</option>
      <option value = "/pickup?filter=saloniki">Saloniki</option>
      <option value = "/pickup?filter=swissbakers">Swissbakers</option>
    </select>
  </form>



  <br><br>

  {% if label != "" %}
    <h4> Filters: {{ label }} </h4>
  {% endif %}


    <table class = "table table-striped">
      <tr>
        <th>Store</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Delivery Payment</th>
        <th>Location</th>
        <th>Expiring Soon?</th>
        <th></th>
      </tr>
      {% for i in range(infoList|length) %}
          <tr>
            <td class = "align">{{infoList[i][0]}}</td>
            <td class = "align">{{infoList[i][1]}}</td>
            <td class = "align">{{infoList[i][7]}}</td>
            <td class = "align">${{infoList[i][2] * infoList[i][7]}}</td>
            <td class = "align">${{infoList[i][3]}}</td>
            <td class = "align">{{infoList[i][4]}} {{infoList[i][5]}}</td>
            <td class = "align">{{expSoon[i]}}</td>
            <td class = "align"><a href = {{ urls[i] }}> Pick Up </a></td>
          </tr>
      {% endfor %}
    </table>
  {% else %}
    <h4>Sorry, there are no current orders. Please check back soon!</h4>
  {% endif %}
{% endblock %}
